<div>
    <ul>
    {{#each productos}}
        
        <li><p>titulo: {{this.title}}</p>
            <p>precio: {{this.price}}</p>
            <p>cantidad: {{this.stock}}</p>
        </li>
    {{/each}}
    </ul>
</div>