<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label >Email</label>
        <input type="text" name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password" >
        <input type="submit">
    </form>
    <p>¿No está registrado? <a href="/users/register">Registrate aquí</a></p>
</div>
<script src="/js/login.js"></script>